<div class="card m-3">
  <div class="card-header" id="headingOne">
    <h3 class="mb-0">
        Accueil de l'application EISTI 2020!
    </h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <p>Application de présentation et de gestion des étudiants de la promotion 2020-2021 spécialité ICC:</p>
      <ul>
          <li>Menu : Un bandeau avec des liens vers l'accueil, la liste des étudiants, l'étudiant 29 (Romane Sallio), un formulaire de contact. </li>
          <ul>
            <li>Accueil : Présentation de l'application.</li>
            <li>Liste des étudiants : La liste des étudiants sous forme de carte avec la photo, le nom et le prénom. Le nom et prénom de chaque étudiant est cliquable et renvoi vers la fiche complète d'un étudiant.</li>
            <li>Etudiant : Le fiche complète d'un étudiant.</li>
            <li>Contact : Un formulaire de contact.</li>
            <li>Connexion : Le formulaire de connexion d'un utilisateur.</li>
            <li>Edition : Un bandeau avec des liens vers l'édition d'un étudiant et l'édition d'un utilisateur. Accessible uniquement lorsqu'un administrateur est connecté.</li>
            <ul>
              <li>Editer un étudiant : L'édition d'un étudiant.</li>
              <li>Editer un utilisateur : La fiche d'un utilisateur et l'édition d'un utilisateur.</li>
            </ul>
          </ul>
          <li>Pied de page : Un bandeau avec des liens vers les mentions légales, la RGPD, un contact, et le créateur.</li>
      </ul>
    </div>
  </div>
</div>
